<div>
	<p>
		Основное назначение страницы - проверка глобальных css на простом html "без стилей". 
		Чтобы текст набранный как в ворде выглядел логично и логично отображались 
		все элементы управления и форматирования, в том числе и длинный текст, который 
		явно не помещается в одну строку вроде этого предложения.
	</p>

	<table><tr><td>

	Заголовки:
	<h1>H1</h1>
	<h2>H2</h2>
	<h3>H3</h3>
	<h4>H4</h4>
	<h5>H5</h5>

	нумерованный список:
	<ol>
		<li>элемент 1</li>
		<li>элемент 2</li>
	</ol>

	</td><td style="vertical-align:top;padding-left:5px;padding-right:5px;">

	ненумерованный список:
	<ul>
		<li>элемент 1</li>
		<li>элемент 2</li>
	</ul>

	<p>
		Декорации:<br/>
		<b>жирный</b>, <i>наклонный</i>, <u>подчёркнутый</u>, <a href="#">ссылка</a>
	</p>

	таблица:
	<table>
		<tr><td>11</td><td>12</td></tr>
		<tr><td>21</td><td>22</td></tr>
	</table>

	</td><td style="vertical-align:top;padding-left:5px;padding-right:5px;">

	<p>
		Элементы управления:<br/>
		текст: <input type="text" /><br/>
		кнопка: <input type="button" value="text"/><br/>
		<label>радио кнопка1: <input type="radio" value="text1" name="r"/></label><br/>
		<label>радио кнопка2: <input type="radio" value="text2" name="r"/></label><br/>
		крыжик: <input type="checkbox" value="text"/><br/>
		файл: <input type="file" value="text"/><br/>
		выпадающий список:
		<select>
			<option>элемент 1</option>
			<option>элемент 2</option>
			<option>элемент 3</option>
		</select><br/>
		список:
		<select size="2">
			<option>элемент 1</option>
			<option>элемент 2</option>
			<option>элемент 3</option>
		</select><br/>
	</p>

	</td></tr></table>
</div>