<style>
div.crowbar-test-grid
{
	width: 800px;
	margin:o auto;
}
div.crowbar-test-grid div.right
{
	float: right;
}
</style>
<div class="crowbar-test-grid">
	<div class="nav-pane">
		<div class="right"> 
			<a href="#" class="button edit"     style="display:none">Редактировать</a> 
			<a href="#" class="button remove"   style="display:none">Удалить</a> 
			<a href="#" class="button add"                          >Добавить</a> 
		</div>
		<h3>Ученики</h3>
	</div>
	<table id="crowbar-test-grid" class="grid"></table>
	<div id="crowbar-test-grid-pager"></div>
</div>