<style>
div.crowbar-test-nailed-simple
{
	width:300px;
	margin:0 auto;
}
div.crowbar-test-nailed-simple div.field
{
	display: inline-block;
	width: 100%;
	margin-bottom: 3px;
}
div.crowbar-test-nailed-simple div.field label
{
	display: inline-block;
	width: 90px;
	vertical-align:middle;
	margin-right: 5px;
}
div.crowbar-test-nailed-simple div.field label:after
{
	content: ":";
}
div.crowbar-test-nailed-simple div.ranks div.field label
{
	text-align: right;
}
</style>
<div class="crowbar-test-nailed-simple">
	<div class="field">
		<label>Ученик</label>
		<input type="text" value="<%= obj.txt('Ученик') %>" />
	</div>

	Оценки:
	<div class="ranks">
		<div class="field">
			<label>алгебра</label>
			<input type="text" value="<%= obj.txt('Оценки.алгебра') %>" />
		</div>
		<div class="field">
			<label>пение</label>
			<input type="text" value="<%= obj.txt('Оценки.пение') %>" />
		</div>
	</div>
</div>