<div>
	<button class="static-txt">Статический текст</button><br/>
	<button class="static-tpl">Статический шаблон</button><br/>
	<button class="controller">Форма с контроллером</button><br/>
	<button class="ajax">Правильное оформление ajax запроса</button><br/>
</div>