<div class="crowbar-test-nailed-width">

	<div <%= obj.with_attrs('Заказчик') %> >
		<% obj.start_with() %>
			Наименование: <input type="text" value="<%= obj.txt('Наименование') %>" />
			<span>Руководитель:</span>
			<input type="text" value="<%= obj.txt('Руководитель.Фамилия') %>" />
			<input type="text" value="<%= obj.txt('Руководитель.Имя') %>" />
			<input type="text" value="<%= obj.txt('Руководитель.Отчество') %>" />
		<% obj.end_with() %>
	</div>

	<div <%= obj.with_attrs('Исполнитель') %> >
		<% obj.start_with() %>
			Наименование: <input type="text" value="<%= obj.txt('Наименование') %>" />
			<span>Руководитель:</span>
			<input type="text" value="<%= obj.txt('Руководитель.Фамилия') %>" />
			<input type="text" value="<%= obj.txt('Руководитель.Имя') %>" />
			<input type="text" value="<%= obj.txt('Руководитель.Отчество') %>" />
		<% obj.end_with() %>
	</div>

</div>