<style>
div.cpw-collection td { padding: 3px 10px; }
div.cpw-collection tr.collection-item:hover
{
	background-color: #eeeeee;
	cursor: pointer;
}
div.cpw-collection textarea
,div.cpw-collection select
,div.cpw-collection input
{
	width: 170px;
	height: 21px;
}
div.cpw-collection button.do_add { margin-left: 90px; }
</style>
<div class="cpw-collection">
	<button class="do_add">Добавить запись об ученике</button>
	<div <%= obj.empty_attrs() %> >
		Список пуст
	</div>
	<table <%= obj.not_empty_attrs() %> >
		<tr>
			<td>№</td>
			<td>ученик</td>
			<td>алгебра</td>
			<td>пение</td>
			<td></td>
		</tr>
		<% while (obj.iterate()) { %>
		<tr <%= obj.item_attrs() %>>
			<td>
				
				<%= obj.item_position1() %>
					<% if (obj.is_seed()) { %>1<% } %>
				<%= obj.item_position1_end() %>)
			</td>
			<td>
				<textarea <%= obj.textarea_attrs('Ученик') %> ><%= obj.field('Ученик') %></textarea>
			</td>
			<td>
				<input type="text" value="<%= obj.txt('Оценки.алгебра') %>" />
			</td>
			<td>
				<select <%= obj.select_attrs('Оценки.пение') %> >
					<option <%= obj.option_attrs('') %> ></option>
					<option <%= obj.option_attrs('1') %> >1</option>
					<option <%= obj.option_attrs('2') %> >2</option>
					<option <%= obj.option_attrs('3') %> >3</option>
					<option <%= obj.option_attrs('4') %> >4</option>
					<option <%= obj.option_attrs('5') %> >5</option>
				</select>
			</td>
			<td>
				<a href="#" class="do_delete">удалить</a>
			</td>
		</tr>
		<% } %>
	</table>
</div>
<%
var on_add= function(e)
{
	if (!obj.model)
		obj.model= [];
	obj.update_model();
	obj.model.push({});
	obj.update_dom();
	$(obj.form_div_selector).trigger('model_change');
};
var on_delete= function(e)
{
	var i_item= parseInt(obj.find_binding_for_item($(this)).i_item);
	var item= obj.model[i_item];
	var btnOk= 'Да, удалить';
	obj.options.h_msgbox.ShowModal
	({
		  title:'Подтверждение удаления записи №' + (i_item+1)
		, html: 'Вы действительно хотите удалить запись №' + (i_item+1) + '<br/> об ученике <b>' + item.Ученик + '</b>?'
		, width:380, height:180
		, buttons:[btnOk, 'Нет, не удалять']
		, onclose: function(btn)
		{
			if (btn==btnOk)
			{
				obj.update_model();
				obj.model.splice(i_item,1);
				obj.update_dom();
				$(obj.form_div_selector).trigger('model_change');
			}
		}
	});
	return false;
};
obj.on_after_render= function()
{
	var sel= obj.form_div_selector;
	$(sel + ' .do_add').click(on_add);
	$(sel + ' .do_delete').click(on_delete);
	this.safe_render_items();
};
obj.on_after_update_dom= function()
{
	var sel= obj.form_div_selector;
	var do_delete_items= $(sel + ' .do_delete');
	do_delete_items.off('click',on_delete);
	do_delete_items.click(on_delete);
	var do_edit_items= $(sel + ' .collection-item');
	this.safe_render_items();
};
obj.safe_render_items= function()
{
	var self= this;
	var sel= obj.form_div_selector;
	var items= $(sel + ' .collection-item');
	items.each(function (index)
	{
		var dom_item= $(this);
		if ('rendered'!=dom_item.attr('rendered') && !dom_item.hasClass('seed'))
		{
			dom_item.find(' select[model_field_name="Оценки.пение"]')
				.select2();
			dom_item.find(' input[model_field_name="Оценки.алгебра"]')
				.datepicker(obj.options.h_times.DatePickerOptions)
				.change(obj.options.h_times.OnConvertToDateFormat);
			dom_item.attr('rendered','rendered');
		}
	});
};
%>